Repository unraid/api, changes with the owners that .github/CODEOWNERS names for each.
All owners: @elibosley, @pujitm, @mdatelle, @zackspear

.github/CODEOWNERS:

# Default owners for everything in the repo
* @elibosley @pujitm @mdatelle @zackspear

# API specific files
/api/ @elibosley @pujitm @mdatelle

# Web frontend files
/web/ @elibosley @mdatelle @zackspear

# Plugin related files
/plugin/ @elibosley

# Unraid UI specific files
/unraid-ui/ @mdatelle @zackspear @pujitm

# GitHub workflows and configuration
/.github/ @elibosley

# Documentation
*.md @elibosley @pujitm @mdatelle @zackspear

chore: remove echo from the start line and use the script instead
  plugin/scripts/dc.sh
Owners: @elibosley

chore: cleanup deploy-dev scripts
  api/dev/states/myservers.cfg
  api/docs/developer/development.md
  api/docs/developer/repo-organization.md
  api/docs/developer/workflows.md
  api/scripts/deploy-dev.sh
  plugin/scripts/deploy-dev.sh
  readme.md
  web/scripts/deploy-dev.sh
Owners: @elibosley, @pujitm, @mdatelle, @zackspear

chore: remove tsx
  plugin/package.json
Owners: @elibosley

chore: update layouts
  api/src/unraid-api/unraid-file-modifier/modifications/__test__/__fixtures__/downloaded/.login.php.last-download-time
  api/src/unraid-api/unraid-file-modifier/modifications/__test__/__fixtures__/downloaded/DefaultPageLayout.php
  api/src/unraid-api/unraid-file-modifier/modifications/__test__/__fixtures__/downloaded/DefaultPageLayout.php.last-download-time
  api/src/unraid-api/unraid-file-modifier/modifications/__test__/__fixtures__/downloaded/Notifications.page.last-download-time
  api/src/unraid-api/unraid-file-modifier/modifications/__test__/__fixtures__/downloaded/auth-request.php.last-download-time
  api/src/unraid-api/unraid-file-modifier/modifications/__test__/snapshots/DefaultPageLayout.php.modified.snapshot.php
Owners: @elibosley, @pujitm, @mdatelle

chore: update type gen
  api/src/graphql/schema/types/config/config.graphql
  web/composables/gql/graphql.ts
  web/store/server.ts
Owners: @elibosley, @pujitm, @mdatelle, @zackspear

chore: fix build:watch
  api/package.json
Owners: @elibosley, @pujitm, @mdatelle

fix: don't rm build dir
  api/scripts/build.ts
Owners: @elibosley, @pujitm, @mdatelle

fix: nodemon delay
  plugin/package.json
Owners: @elibosley

chore: do not watch doinst.sh
  plugin/package.json
  plugin/source/dynamix.unraid.net/install/doinst.sh
Owners: @elibosley

fix typo
  api/src/unraid-api/graph/connect/connect-settings.service.ts
  web/components/ConnectSettings/ConnectSettings.ce.vue
Owners: @elibosley, @pujitm, @mdatelle, @zackspear

fix confusing ux around wan port input
  api/src/unraid-api/graph/connect/connect-settings.service.ts
Owners: @elibosley, @pujitm, @mdatelle

fix port possibly being set while remote access is disabled
  api/src/unraid-api/graph/connect/connect-settings.service.ts
Owners: @elibosley, @pujitm, @mdatelle

fix: add INELIGIBLE state to ConfigErrorState enum (#1220)
  api/src/graphql/generated/api/types.ts
  api/src/graphql/schema/types/config/config.graphql
  api/src/graphql/schema/types/vars/vars.graphql
  api/src/unraid-api/unraid-file-modifier/modifications/__test__/__fixtures__/downloaded/.login.php.last-download-time
  api/src/unraid-api/unraid-file-modifier/modifications/__test__/__fixtures__/downloaded/DefaultPageLayout.php
  api/src/unraid-api/unraid-file-modifier/modifications/__test__/__fixtures__/downloaded/DefaultPageLayout.php.last-download-time
  api/src/unraid-api/unraid-file-modifier/modifications/__test__/__fixtures__/downloaded/Notifications.page.last-download-time
  api/src/unraid-api/unraid-file-modifier/modifications/__test__/__fixtures__/downloaded/auth-request.php.last-download-time
  api/src/unraid-api/unraid-file-modifier/modifications/__test__/snapshots/DefaultPageLayout.php.modified.snapshot.php
  web/_webGui/testWebComponents.page
  web/composables/gql/graphql.ts
  web/store/server.ts
Owners: @elibosley, @pujitm, @mdatelle, @zackspear

fix: add INELIGIBLE state to ConfigErrorState enum (#1220)
  api/src/graphql/generated/api/types.ts
  api/src/graphql/schema/types/config/config.graphql
  api/src/graphql/schema/types/vars/vars.graphql
  api/src/unraid-api/unraid-file-modifier/modifications/__test__/__fixtures__/downloaded/.login.php.last-download-time
  api/src/unraid-api/unraid-file-modifier/modifications/__test__/__fixtures__/downloaded/DefaultPageLayout.php
  api/src/unraid-api/unraid-file-modifier/modifications/__test__/__fixtures__/downloaded/DefaultPageLayout.php.last-download-time
  api/src/unraid-api/unraid-file-modifier/modifications/__test__/__fixtures__/downloaded/Notifications.page.last-download-time
  api/src/unraid-api/unraid-file-modifier/modifications/__test__/__fixtures__/downloaded/auth-request.php.last-download-time
  api/src/unraid-api/unraid-file-modifier/modifications/__test__/snapshots/DefaultPageLayout.php.modified.snapshot.php
  web/_webGui/testWebComponents.page
  web/composables/gql/graphql.ts
  web/store/server.ts
Owners: @elibosley, @pujitm, @mdatelle, @zackspear

fix: update brand loading variants for consistent sizing
  unraid-ui/src/components/brand/brand-loading.variants.ts
Owners: @mdatelle, @zackspear, @pujitm

fix: update aspect ratio in brand loading variants
  unraid-ui/src/components/brand/brand-loading.variants.ts
Owners: @mdatelle, @zackspear, @pujitm

feat: re-enable client-side replace with new key check, adds manual re-check
  web/components/Registration/ReplaceCheck.vue
  web/components/Registration/UpdateExpirationAction.vue
  web/components/UserProfile/Dropdown.vue
  web/components/UserProfile/DropdownWrapper.vue
  web/store/replaceRenew.ts
Owners: @elibosley, @mdatelle, @zackspear

feat: re-enable client-side replace with new key check, adds manual re-check
  web/components/Registration/ReplaceCheck.vue
  web/components/Registration/UpdateExpirationAction.vue
  web/components/UserProfile/Dropdown.vue
  web/components/UserProfile/DropdownWrapper.vue
  web/store/replaceRenew.ts
Owners: @elibosley, @mdatelle, @zackspear

doc(web): vertical layout renderer
  web/components/GeneratedForm/VerticalLayout.vue
Owners: @elibosley, @mdatelle, @zackspear

fix: update brand loading variants for consistent sizing (#1223)
  unraid-ui/src/components/brand/brand-loading.variants.ts
Owners: @mdatelle, @zackspear, @pujitm

fix: update brand loading variants for consistent sizing (#1223)
  unraid-ui/src/components/brand/brand-loading.variants.ts
Owners: @mdatelle, @zackspear, @pujitm

refactor extra origins parsing
  api/src/__test__/utils.test.ts
  api/src/unraid-api/graph/connect/connect-settings.service.ts
  api/src/unraid-api/unraid-file-modifier/modifications/__test__/__fixtures__/downloaded/.login.php.last-download-time
  api/src/unraid-api/unraid-file-modifier/modifications/__test__/__fixtures__/downloaded/DefaultPageLayout.php
  api/src/unraid-api/unraid-file-modifier/modifications/__test__/__fixtures__/downloaded/DefaultPageLayout.php.last-download-time
  api/src/unraid-api/unraid-file-modifier/modifications/__test__/__fixtures__/downloaded/Notifications.page.last-download-time
  api/src/unraid-api/unraid-file-modifier/modifications/__test__/__fixtures__/downloaded/auth-request.php.last-download-time
  api/src/utils.ts
Owners: @elibosley, @pujitm, @mdatelle

refactor uui number field naming
  unraid-ui/src/components/form/number/NumberFieldDecrement.vue
  unraid-ui/src/components/form/number/NumberFieldIncrement.vue
  unraid-ui/src/components/form/number/NumberFieldInput.vue
Owners: @mdatelle, @zackspear, @pujitm

rename PossibleApiSettings to ApiSettingsInput and doc related gql
  api/src/graphql/generated/api/operations.ts
  api/src/graphql/generated/api/types.ts
  api/src/graphql/schema/types/connect/connect.graphql
  api/src/unraid-api/graph/connect/connect-settings.service.ts
  api/src/unraid-api/graph/connect/connect.resolver.ts
  web/components/ConnectSettings/graphql/settings.query.ts
  web/composables/gql/gql.ts
  web/composables/gql/graphql.ts
Owners: @elibosley, @pujitm, @mdatelle, @zackspear

fix lint
  api/src/__test__/utils.test.ts
  api/src/unraid-api/graph/connect/connect.resolver.ts
  api/src/utils.ts
Owners: @elibosley, @pujitm, @mdatelle

api: extract json forms types & helpers
  api/src/unraid-api/graph/connect/connect-settings.service.ts
  api/src/unraid-api/types/json-forms.ts
Owners: @elibosley, @pujitm, @mdatelle

test json-forms `mergeSettingsSlices`
  api/src/__test__/json-forms.test.ts
Owners: @elibosley, @pujitm, @mdatelle

add toaster to web dev environment
  web/components/ConnectSettings/ConnectSettings.ce.vue
  web/pages/index.vue
  web/pages/webComponents.vue
Owners: @elibosley, @mdatelle, @zackspear

mv json forms rendered to unraid-ui
  pnpm-lock.yaml
  unraid-ui/package.json
  unraid-ui/src/forms/ControlLayout.vue
  unraid-ui/src/forms/NumberField.vue
  unraid-ui/src/forms/PreconditionsLabel.vue
  unraid-ui/src/forms/Select.vue
  unraid-ui/src/forms/StringArrayField.vue
  unraid-ui/src/forms/Switch.vue
  unraid-ui/src/forms/VerticalLayout.vue
  unraid-ui/src/forms/jsonforms.d.ts
  unraid-ui/src/forms/readme.md
  unraid-ui/src/forms/renderer-entries.ts
  unraid-ui/src/forms/renderers.ts
  unraid-ui/src/forms/vertical-layout.renderer.ts
  unraid-ui/src/index.ts
  unraid-ui/tsconfig.json
  web/components/ConnectSettings/ConnectSettings.ce.vue
Owners: @elibosley, @pujitm, @mdatelle, @zackspear

fix lint
  api/src/__test__/json-forms.test.ts
  api/src/unraid-api/types/json-forms.ts
Owners: @elibosley, @pujitm, @mdatelle

change vertical layout props.uischema to optional
  unraid-ui/src/forms/VerticalLayout.vue
Owners: @mdatelle, @zackspear, @pujitm

feat: update unraidcheck.php
  plugin/source/dynamix.unraid.net/usr/local/emhttp/plugins/dynamix.plugin.manager/include/UnraidCheck.php
Owners: @elibosley

fix: update state.php
  plugin/source/dynamix.unraid.net/usr/local/emhttp/plugins/dynamix.my.servers/include/state.php
Owners: @elibosley

feat: update api to pull displayVersion when needed
  plugin/source/dynamix.unraid.net/usr/local/emhttp/plugins/dynamix.my.servers/include/state.php
  web/components/HeaderOsVersion.ce.vue
  web/composables/gql/graphql.ts
  web/helpers/urls.ts
  web/store/server.ts
  web/types/server.ts
Owners: @elibosley, @mdatelle, @zackspear

rm commented out web/nuxt build.transpile
  web/nuxt.config.ts
Owners: @elibosley, @mdatelle, @zackspear

rm potentially bad defaults in NumberField
  unraid-ui/src/forms/NumberField.vue
Owners: @mdatelle, @zackspear, @pujitm

fix: send displayVersion through state.php
  plugin/source/dynamix.unraid.net/usr/local/emhttp/plugins/dynamix.my.servers/include/state.php
Owners: @elibosley
